body{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
/*Header*/

.box{
    margin:auto;
    width:300px;
    height:50px;
    background-color:silver;
    border-radius:30px;
    display:flex;
    align-items:center;
    padding:30px;
}


.navbar{
    display:flex;
    align-items:left;
    padding:5px;
}
nav{
    flex:1;
    text-align:center;
}
nav ul{
    display:inline-block;
    list-style-type:none;
}
nav ul li{
    display:inline-block;
    margin-right:0px;
	font-size: 14px;
	font-weight: bold;
}
a{
    text-decoration:none;
    color:#fff;
}

.container{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.container .input{
    border:0;
    outline:none;
    color:#000;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    font-size:50px;
    line-height:60px;
    margin:25px 0;
	text-align: justify;
	width: 320px;
}
.col-2 p{
	font-size: 18px;
	width: 330px;
	text-align: center;
	font-weight: bold;
   }
.btn{
    display: inline-block;
    background:#c300ff;
    color:#fff;
    padding:8px 30px;
    margin:30px 0;
    border-radius:30px;
    transition: 0.5s;
}
.btn:hover{
    background:#563434;
}
.header{
    background:radial-gradient(#fff,rgb(0,88,138));
}
.header .row{
    margin-top:70px;
}
.categories{
    margin:70px 0;
}

/*Main*/

#featured{
	flex: 2;
}

.carousel, .news-container{
	position: relative;
}

.carousel-text{
	position: absolute;
	word-wrap: normal;
	bottom: 5px;
	z-index: 2;
	color: #fff;
	font-size: 24px;
	font-weight: bolder;
	padding: 0 10px;
	transition-duration: 500ms;
}
.news-container .carousel-text{
	font-size: 18px;
}
.carousel-date{
	display: block;
	text-align: center;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	font-weight: 300;
}
section{
	cursor: pointer;
}


.main-container{
	background-color: rgb(84, 198, 211);
	display: flex;
	flex-wrap: wrap;
	padding: 0 5%;
	justify-content: space-between;
	color: #fff;
}
.maincontainer-section{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 60%;
	justify-content: space-between;
}

aside{
	padding: 10px;
	flex-basis: 30%;
	margin: auto 0;
	background-color: #e08b6c;
}
.aside-news h4{
        background-image: linear-gradient(to left, violet, indigo, green, blue, aqua, gold, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}
.aside-news{
	padding: 10px;
	flex-basis: 25%;
	border: 1px solid #fff;
	border-radius: 5px;
	color:black;
	margin: 10px;
}
p{
	text-align: justify;
}
.latest-news{
	display: flex;
}

/* Host Section */
.news-container{
	margin-top: 10px;
	height: 200px;
}

.news-container:hover > a{
	filter: brightness(0.4);
}
.news-container img{
	width: 100%;
	height: 100%;
}
.news-container video{
	height: 200px;
	width: 1350px;
}
.news-container p{
		text-align: left;
		font-size: 24px;
		left: 590px;
		top: 80px;
}

/* sponsors */

.sponsors-section {
	max-width: 900px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
  }
  
.card {
	background-color: #fff;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
  }
  .inline {
	display: flex;
	justify-content: center;
	align-items: center;
  }
.sponsors .inline {
	flex-wrap: nowrap;
  }
  
  .sponsors .card {
	text-align: center;
	margin: 18px 10px 40px;
	transition: transform 0.2s ease-in;
  }
  
  .sponsors .card h4 {
	font-size: 20px;
	margin-bottom: 10px;
  }
  
  .sponsors .card:hover {
	transform: translateY(-15px);
  }
  .sponsors p{
	text-align: center;
	font-size: 36px;
	background-blend-mode: normal;
	color: rgb(0, 245, 243);
   }
   
   /* Key notes & Committee members */

   .participants-container{
	background-color: rgb(0,125,190);
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: center;
	color: black;
}

.participants-section{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 25%;
	justify-content: center;
}

.copyright{
	width: 100%;
	background-color: black;
	color: #fff;
	padding: 5px;
	text-align: center;
}


/* Gallery*/
.gallerycontainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(35, 31, 32);
  }
  
  .galleryheading{
	width: 50%;
	padding-bottom: 50px;
	color: #e08b6c;
  }
  .galleryheading h3{
	font-size: 3em;
	font-weight: bolder;
	padding-bottom: 10px;
	border-bottom: 3px solid purple;
  }
  
  .galleryheading h3 span{
	font-weight: 100;
  }
  .gallerycontainer .gallerybox{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
  .gallerycontainer .gallerybox .dream{
	display: flex;
	flex-direction: column;
	width: 32.5%;
  }
  
  .gallerycontainer .gallerybox .dream img{
	width: 100%;
	padding-bottom: 15px;
	border-radius: 5px;
  }

/*Keynotes*/
.keynotescards {
    display: flex;
	flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.keynotescards>* {
    flex-grow: 1;
    flex-basis: 50%;
    min-width: 280px;
    max-width: 330px;
}

.keynotescard {
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
    border-radius: 0.45rem;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgba(40, 40, 50, 0.4);
}

.keynotescard_image {
    position: relative;
    width: 100%;
    display: flex;
    flex: 0 0 160px;
}

.keynotescard_image img {
    position: relative;
    width: 100%;
    min-height: 220px;
}

.keynotescard_content {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keynotescard_title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.keynotescard_text {
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.keynotescard_readmore {
    position: relative;
    margin-bottom: 0.5em;
    text-decoration: none;
    padding: 0.45em 1.05em;
    display: inline-flex;
    color: #fff;
    background: linear-gradient(-34deg, #8989ff, 50%, plum);
    box-shadow: 0 0.5em 1.2rem #0004;
    border-radius: 0.5em;
}
.keynotesheading{
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height:60px;
    color:black;
	padding: 10px;
}
.keynotesheading::after{
    content:'';
    background:brown;
    width:100px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}

/*Committee*/
.committeecontainer {
	text-align: center;
	width: 50%;
	left: 25%;
	position: relative;
	margin: 20px;
	background-color: antiquewhite;
	box-shadow: 10px 10px 5px black;
  }

  .listcontainer{
	text-align: center;
	
  }

  .lists {
	display: inline-block;
	text-align: left;
  }
.hiddenimg {
	display: none;
  }
  
  .hiddentxt {
	font-weight: bold;
	color: #F00;
	z-index:99;
  }
  
  .hiddentxt a {
	color: #F00;
	text-decoration: none;
	z-index: 99;
  }
  
  .hiddenclick {
	font-weight: bold;
	color: #F00;
	text-decoration: none;
	cursor: pointer;
  }
  
  .hiddenclick a {
	color: #F00;
	text-decoration: none;
  }
  
  .hiddenclick a:visited {
	color: #F00;
	text-decoration: none;
  }
  
  .hiddentxt:hover ~ .hiddenimg {
	display: block;
	position: absolute;
	  z-index: 2
  }
  
  .hiddenclickimg {
	display: none;
  
  }



/*Home*/  
@media only screen and (max-width:800px){
    nav ul{
        position:absolute;
        top:70px;
        left:0;
        background:#333;
        width:100%;
        overflow:hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display:block;
        cursor:pointer;
    }

}

@media only screen and (max-width:800px){
    nav ul{
        position:absolute;
        top:70px;
        left:0;
        background:#333;
        width:100%;
        overflow:hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display:block;
        cursor:pointer;
    }

}
@media only screen and (max-width: 600px) {
	.info-section{	
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}	
	.news-section, aside, .news-section article,.social-links section{
		flex-basis: 100%;		
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 35px;
		height: 35px;
		padding: 5px;
	}
	.website-header h1{
		font-size: 15px;
	}
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: black;
		z-index: 16;
	}
	.navbar-toggler-icon{
		background-image: url(images/menu.jpg);
		z-index: 16;
	}
}

/*Previous Conference*/
@media only screen and (max-width: 769px){
	.gallerycontainer .gallerybox{
   flex-direction: column;
  }

.gallerycontainer .gallerybox .dream{
  width: 100%;
}

}

@media only screen and (max-width: 643px){
.galleryheading{
  width: 100%;
}
.galleryheading h3{
  font-size: 1em;
}

}

/*Keynotes*/
@media(max-width: 460px) {
    .keynotescard {
        flex-direction: column;
    }
}
