body{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

/*Header*/

.box{
    margin:auto;
    width:300px;
    height:50px;
    background-color:silver;
    border-radius:30px;
    display:flex;
    align-items:center;
    padding:30px;
}


.navbar{
    display:flex;
    align-items:left;
    padding:5px;
}
nav{
    flex:1;
    text-align:center;
}
nav ul{
    display:inline-block;
    list-style-type:none;
}
nav ul li{
    display:inline-block;
    margin-right:0px;
	  font-size: 12px;
	  font-weight: bold;
}
a{
    text-decoration:none;
    color:#fff;
}
.menu-icon{
  width:50px;
  margin-left: 20px;
  display:none;
}
.container{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.container .input{
    border:0;
    outline:none;
    color:#000;
}
.breaking-news-section{
	padding: 0 30px 0 60px;
	display: flex;
}
.breaking-news{
	padding: 30px;
	color: black;
	text-decoration: none;	
}
.breaking-news:hover{
	color:#e08b6c;
}
.bntime{
	display: inline-block;
	color: white;
	padding: 0 10px;
	font-size: 16px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
  flex-basis:30%;
  min-width:250px;
  margin-bottom:30px;
}
.col-2 img{
  width:100%;
}

.col-2 h1{
    font-size:50px;
    line-height:60px;
    margin:25px 0;
	  text-align: justify;
	  width: 320px;
}
.col-2 p{
	font-size: 18px;
	width: 330px;
	text-align: center;
	font-weight: bold;
   }
.btn{
    display: inline-block;
    background:#c300ff;
    color:#fff;
    padding:8px 30px;
    margin:30px 0;
    border-radius:30px;
    transition: 0.5s;
}
.btn:hover{
    background:#563434;
}
.header{
    background:radial-gradient(#fff,rgb(0,88,138));
}
.header .row{
    margin-top:70px;
}
.categories{
    margin:70px 0;
}

/*Main*/

#featured{
	flex: 2;
}
.carousel-date{
	display: block;
	text-align: center;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	font-weight: 300;
}
section{
	cursor: pointer;
}


.main-container{
	background-color: rgb(84, 198, 211);
	display: flex;
	flex-wrap: wrap;
	padding: 0 5%;
	justify-content: space-between;
	color: #fff;
}
.maincontainer-section{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 60%;
	justify-content: space-between;
}

aside{
	padding: 10px;
	flex-basis: 30%;
	margin: auto 0;
	background-color: #e08b6c;
}
.aside-news h4{
        background-image: linear-gradient(to left, violet, indigo, green, blue, aqua, gold, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}
.aside-news{
	padding: 10px;
	flex-basis: 25%;
	border: 1px solid #fff;
	border-radius: 5px;
	color:black;
	margin: 10px;
}
#featured p{
	text-align: justify;
}
.latest-news{
	display: flex;
}

/* Host Section */

.news-container .carousel-text{
	position: absolute;
  background-image: linear-gradient(to left, violet, indigo, green, blue, aqua, gold, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 72px;
	font-weight:light;
}
.news-container{
	margin-top: 10px;
  height: 400px;
  position: relative;
}

.news-container video{
  position: absolute;
  object-fit: cover;
  top:0;
  left: 0;
	height: 100%;
	width: 100%;
  overflow: hidden;
}

.news-container:hover{
filter: brightness(0.7);
}


/* sponsors */

.sponsors-section {
	max-width: 900px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
  }
  
.card {
	background-color: #fff;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
  }
  .inline {
	display: flex;
	justify-content: center;
	align-items: center;
  }
.sponsors .inline {
	flex-wrap: nowrap;
  }
  
  .sponsors .card {
	text-align: center;
	margin: 18px 10px 40px;
	transition: transform 0.2s ease-in;
  }
  
  .sponsors .card h4 {
	font-size: 20px;
	margin-bottom: 10px;
  }
  
  .sponsors .card:hover {
	transform: translateY(-15px);
  }
  .sponsors p{
	text-align: center;
	font-size: 36px;
	background-blend-mode: normal;
	color: rgb(84, 198, 211);
   }
   
   /* Key notes & Committee members */

   .participants-container{
	background-color: rgb(0,183,199);
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: center;
	color: black;
}

.participants-section{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 25%;
	justify-content: center;
}

.copyright{
	width: 100%;
	background-color: black;
	color: #fff;
	padding: 5px;
	text-align: center;
}


/* Gallery*/
.gallerycontainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(35, 31, 32);
  }
  
  .galleryheading{
	width: 50%;
	padding-bottom: 50px;
	color: #e08b6c;
  }
  .galleryheading h3{
	font-size: 3em;
	font-weight: bolder;
	padding-bottom: 10px;
	border-bottom: 3px solid purple;
  }
  
  .galleryheading h3 span{
	font-weight: 100;
  }
  .gallerycontainer .gallerybox{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
  .gallerycontainer .gallerybox .dream{
	display: flex;
	flex-direction: column;
	width: 32.5%;
  }
  
  .gallerycontainer .gallerybox .dream img{
	width: 100%;
	padding-bottom: 15px;
	border-radius: 5px;
  }

/*Keynotes*/
.keynotescards {
    display: flex;
	flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.keynotescards>* {
    flex-grow: 1;
    flex-basis: 50%;
    min-width: 280px;
    max-width: 330px;
}

.keynotescard {
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
    border-radius: 0.45rem;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgba(40, 40, 50, 0.4);
}

.keynotescard_image {
    position: relative;
    width: 100%;
    display: flex;
    flex: 0 0 160px;
}

.keynotescard_image img {
    position: relative;
    width: 100%;
    min-height: 220px;
}

.keynotescard_content {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keynotescard_title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.keynotescard_text {
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.keynotescard_readmore {
    position: relative;
    margin-bottom: 0.5em;
    text-decoration: none;
    padding: 0.45em 1.05em;
    color: #fff;
    background: linear-gradient(-34deg, #8989ff, 50%, plum);
    box-shadow: 0 0.5em 1.2rem #0004;
    border-radius: 0.5em;
}
.keynotesheading{
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height:60px;
    color:black;
	  padding: 10px;
}
.keynotesheading::after{
    content:'';
    background:brown;
    width:100px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}

/*Committee*/
.committeecontainer {
	text-align: center;
	width: 50%;
	left: 25%;
	position: relative;
	margin: 20px;
	background-color: antiquewhite;
	box-shadow: 10px 10px 5px black;
  }

  .listcontainer{
	text-align: center;
	
  }

  .lists {
	display: inline-block;
	text-align: left;
  }
.hiddenimg {
	display: none;
  }
  
  .hiddentxt {
	font-weight: bold;
	color: #F00;
	z-index:-1;
  }
  
  .hiddentxt a {
	color: #F00;
	text-decoration: none;
	z-index: -1;
  }
  
  .hiddenclick {
	font-weight: bold;
	color: #F00;
	text-decoration: none;
	cursor: pointer;
  }
  
  .hiddenclick a {
	color: #F00;
	text-decoration: none;
  }
  
  .hiddenclick a:visited {
	color: #F00;
	text-decoration: none;
  }
  
  .hiddentxt:hover ~ .hiddenimg {
	display: block;
	position: absolute;
	z-index: 2;
  }
  
  .hiddenclickimg {
	display: none;
  
  }

/*login/signup*/

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  /*===== Colours =====*/
  --first-color: #9D4BFF;
  --first-color-dark: #23004D;
  --first-color-light: #A49EAC;
  --first-color-lighten: #F2F2F2;

  /*===== Font and typography =====*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}

@media screen and (min-width: 768px){
  :root{
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}


/*===== LOGIN =====*/
.login{
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.login__content{
  display: grid;
}

.login__img{
  justify-self: center;
}

.login__img img{
  width: 310px;
  margin-top: 1.5rem;
}

.login__forms{
  position: relative;
  height: 368px;
}

.login__registre, .login__create{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-login;
}

@keyframes animate-login{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.login__title{
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

.login__box{
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: 1.125rem 1rem;
  background-color: #FFF;
  margin-top: 1rem;
  border-radius: .5rem;
}

.login__icon{
  font-size: 1.5rem;
  color: var(--first-color);
}

.login__input{
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--first-color-dark);
}

.login__input::placeholder{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

.login__forgot{
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: .5rem;
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--first-color-light);
}

.login__button{
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--first-color);
  color: #FFF;
  font-weight: 600;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
}

.login__button:hover{
  background-color: var(--first-color-dark);
}

.login__account, .login__signin, .login__signup{
  font-weight: 600;
  font-size: var(--small-font-size);
}

.login__account{
  color: var(--first-color-dark);
}

.login__signin, .login__signup{
  color: var(--first-color);
  cursor: pointer;
}

.login__social{
  margin-top: 2rem;
}

.login__social-icon{
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin: 0 1.5rem;
}

/*Show login*/
.block{
  display: block;
}

/*Hidden login*/
.none{
  display: none;
}


/*Contact*/
.title{
  display: flex;
}

.left-side{
    background-color: rgb(253, 238, 188);
}
.title .left-side{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
}
.right-side{
  background-color:rgb(0, 183, 199);

}

.title .right-side{
  width: 70%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;

}

.title .right-side p{
  width: 500px;
  letter-spacing: 1px;
  line-height: 30px;
  
}

.title .right-side p span{
  font-weight: 600;
}

.contactcontainer{
  display: flex;
}

.contactcontainer .left-side{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.contactcontainer .left-side .item{
  margin-bottom: 55px;
}

.contactcontainer .left-side .item h3{
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.contactcontainer .left-side .item > a{
  border-bottom: 1px dotted black;
  font-size: 18px;
}

.contactcontainer .left-side .item span{
  font-size: 18px;
}

.contactcontainer .left-side .item .icons a{
  padding: 0px 0px 0px 30px;
  font-size: 24px;
}

.contactcontainer .right-side{
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.contactcontainer .right-side .top{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contactcontainer .right-side .top input{
  width: 300px;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #E3E3E3;
  outline-color: lightgreen;
  border-radius: 5px;
}

.contactcontainer .right-side textarea{
  width: 90%;
  font-size: 16px;
  height: 200px;
  padding: 10px;
  border: 2px solid #E3E3E3;
  outline-color: lightgreen;
  border-radius: 5px;
  resize: none;
}

.contactcontainer .right-side button{
  background: #49FCD4;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

/*Travel*/
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.small-container{
  max-width:1080px;
  margin:auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis:25%;
  padding:10px;
  min-width:200px;
  margin-bottom:50px;
  transition:transform 0.5s;
}
.col-4 img{
  width:100%;
}
.small-container .title{
  text-align:center;
  margin:0 auto 80px;
  position:relative;
  line-height:60px;
  color:#555;
}
.small-container .title::after{
  content:'';
  background:#c300ff;
  width:80px;
  height:5px;
  border-radius:5px;
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
}
.small-container h4{
  color:#555;
  font-weight:normal;
}
.col-4:hover{
  transform:translateY(-5px);
}

:root{
	--bg-color: #fff;
	--text-color: #221314;
	--second-color: rgb(84, 198, 211);
	--main-color: #6e54fa;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
#travel{
  background-color: var(--second-color);
}

#destination{
  background-color: var(--second-color);
}

section{
	padding: 80px 18%;
}
.travelrow{
  display: flex;
  flex-wrap: wrap;
}


.travel .service-travelitems{
 flex:0 0 100%;
 max-width: 100%;
}
.travel .service-travelitems .travelitem{
 flex:0 0 50%;
 max-width: 50%;
 padding: 15px;
}

.travel .service-travelitems .travelitem-inner{
 border:1px solid #dddddd;
 padding: 30px;
}
.travel .service-travelitems .read-more-cont{
 display: none;
}
.travel .service-travelitems .travelitem-inner h3{
 font-size: 20px;
 color:#000000;
 margin-bottom: 30px;
 position: relative;
}
.travel .service-travelitems .travelitem-inner h3::before{
content: '';
height: 1px;
width: 80px;
background-color: #000000;
position: absolute;
left:0;
bottom:-10px;
}

.travel .service-travelitems .travelitem-inner p{
 color:#555555;
 font-size: 16px;
 margin:0 0 30px;
}
.travel .service-travelitems .travelitem-inner .travelbtn{
 font-size: 16px;
 background-color: transparent;
 border:1px solid #555555;
 color:#555555;
 padding: 8px 15px;
 cursor: pointer;
}

.popup-box{
 position: fixed;
 height: 100%;
 width: 100%;
 left: 0;
 top:0;
 background-color: rgba(0,0,0,0.5);
 z-index: 500;
 visibility: hidden;
 opacity:0;
 transition: all 0.5s ease-in-out;
}
.popup-box.open{
visibility: visible;
 opacity:1;	
}
.popup-box .popup-content{
 background-color: #ffffff;
 width: 1000px;
 position: absolute;
 left: 50%;
 top:50%;
 transform: translate(-50%,-50%);
 border-radius: 8px;
}

.popup-box .popup-header{
 padding: 15px 40px 15px 15px;
 border-bottom: 1px solid #dddddd;
}
.popup-box .popup-header h3{
 margin:0;
 color:#E91E63;
 font-size: 20px;
}
.popup-box .popup-header .popup-close-icon{
 position: absolute;
 height: 30px;
 width: 30px;
 text-align: center;
 color: #555555;
 font-size: 28px;
 line-height: 30px;
 right: 5px;
 top: 5px;
 cursor: pointer;
}
.popup-box .popup-body{
 padding: 15px;
 max-height: 300px;
 overflow-y: auto;
}
.popup-box .popup-body img{
 width: 100%;
 display: block;
 margin-top: 15px;
}
.popup-box .popup-body p{
 font-size: 16px;
 color:#555555;
 margin:0 0 15px;
}
.popup-box .popup-footer{
 padding: 15px;
 border-top:1px solid #dddddd;
 text-align: right;
}
.popup-box .popup-footer .travelbtn{
 padding: 8px 15px;
 border:1px solid #555555;
 color:#555555;
 font-size: 16px;
 background-color: transparent;
 cursor: pointer;
 border-radius: 4px;
}
.popup-box .popup-footer .travelbtn:focus{
 outline: none;
}



.package-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
}
.thum{
	position: relative;
	transition: all .3s cubic-bezier(.445,.05,.55,.95);
	will-change: filter;
	cursor: pointer;
}
.thum img{
	width: 100%;
	height: auto;
}
.thum h3{
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	text-align: right;
	color: var(--bg-color);
	top: 36px;
	right: 40px;
}
.dest-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
}
.stars i{
	color: var(--main-color);
	font-size: 20px;
}
.thum:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
}
.location h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}
.location p{
	font-size: 15px;
	color: var(--second-color);
}

.destination-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
}
.col-content{
	position: relative;
}
.col-content img{
	width: 100%;
	height: 500px;
	object-fit: cover;
	border-radius: 15px;
	filter: brightness(80%);
	transition: all .3s cubic-bezier(.495,.05,.55,.95);
	will-change: filter;
}
.col-content h5{
	position: absolute;
	font-size: 22px;
	font-weight: 500;
	color: var(--bg-color);
	left: 15px;
	bottom: 60px;
}
.col-content p{
	position: absolute;
	font-size: 15px;
	color: var(--bg-color);
	left: 15px;
	bottom: 30px;
	letter-spacing: 2px;
}
.col-content img:hover{
	filter: brightness(100%);
	transform: scale(1.04);
	cursor: pointer;
}




/*Home*/  
@media only screen and (max-width:1000px){
    nav ul{
        position:absolute;
        top:70px;
        left:0;
        background:black;
        width:100%;
        overflow:hidden;
        transition: max-height 0.5s;
        z-index: 4;
    }
    nav ul li{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display:block;
        cursor:pointer;
    } 

  }



@media only screen and (max-width: 600px) {
	.info-section{	
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}	
	.news-section, aside, .news-section article,.social-links section{
		flex-basis: 100%;		
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 35px;
		height: 35px;
		padding: 5px;
	}
	.website-header h1{
		font-size: 15px;
	}
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: black;
		z-index: 16;
	}
	.navbar-toggler-icon{
		background-image: url(images/menu.jpg);
		z-index: 16;
	}
}


/*Previous Conference*/
@media only screen and (max-width: 769px){
	.gallerycontainer .gallerybox{
   flex-direction: column;
  }

.gallerycontainer .gallerybox .dream{
  width: 100%;
}

}

@media only screen and (max-width: 643px){
.galleryheading{
  width: 100%;
}
.galleryheading h3{
  font-size: 1em;
}

}

/*Keynotes*/
@media(max-width: 460px) {
    .keynotescard {
        flex-direction: column;
    }
}

/* Login/Sign Up*/
@media screen and (min-width: 576px){
  .login__forms{
    width: 348px;
    justify-self: center;
  }
}

/*Contact*/
@media (max-width: 1200px){
  .title{
    flex-direction: column;
  }
  .title .left-side{
    width: 100%;
    justify-content: flex-start;
    padding: 40px 0px 40px 40px;
  }
  .title .right-side{
    width: 100%;
    padding: 50px 0px 30px 0px;
  }
  .contactcontainer{
    flex-direction: column-reverse;
  }
  .title .right-side p{
    width: 90%;
  }
  .contactcontainer .right-side{
    width: 100%;
  }
  .contactcontainer .right-side form{
    width: 90%;
  }
  .contactcontainer .right-side .top{
    width: 100%;
  }
  .contactcontainer .right-side .top input{
    width: 49%;
  }
  .contactcontainer .left-side{
    width: 90%;
    text-align: left;
    align-items: flex-start;
    margin: auto;
    padding: 60px 0px 0px 0px;
    background: none;
  }
  .contactcontainer .left-side .item{
    margin-bottom: 50px;
  }
  .contactcontainer .left-side .item .icons a{
    padding: 0px 20px 15px 0px;
  }
}

@media (max-width: 520px){
  .contactcontainer .right-side .top{
    flex-direction: column;
    height: 110px;
    margin-bottom: 10px;
  }
  .contactcontainer .right-side .top input{
    width: 100%;
  }
  .contactcontainer .right-side textarea{
    margin-bottom: 10px;
  }
}


@media screen and (min-width: 1024px){
  .login{
    height: 100vh;
    overflow: hidden;
  }

  .login__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }

  .login__img{
    display: flex;
    width: 600px;
    height: 588px;
    background-color: var(--first-color-lighten);
    border-radius: 1rem;
    padding-left: 1rem;
  }

  .login__img img{
    width: 390px;
    margin-top: 0;
  }

  .login__registre, .login__create{
    left: -11rem;
  }

  .login__registre{
    bottom: -2rem;
  }

  .login__create{
    bottom: -5.5rem;
  }
}


/*travel*/

@media(max-width: 767px){
  .travel .service-travelitems .travelitem{
    flex:0 0 100%;
    max-width: 100%;
 }
 .popup-box .popup-content{
      width: calc(100% - 30px);
 }
 }
 


